body {
	background-color: rgb(52, 43, 43);
	color: rgb(234, 233, 215);
	padding: 0 30px;
	font-size: 1.5rem;

	h1 {
		margin: 20px 0;
	}

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: rgb(224, 207, 81);
	}
}